# to sync with .dockerignore & pyrightconfig.json

*.pyc
*/*.pyc
*~
*.swp
geckodriver.log

.coverage
coverage/

.nvm/
cache/
build/
dist/
local/
gh-pages/
*.egg-info/

/package-lock.json
/node_modules/


searx/static/themes/simple/js/
searx/static/themes/simple/css/
searx/static/themes/simple/img/
searx/static/themes/simple/node_modules/
.idea/
